body,
html{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #FF4B4B;
  margin: 0;
}

* {
    box-sizing: border-box;
}

.stagger-visualizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 17rem;
}

.stagger-visualizer div {
  /*position: absolute;*/
  width: 1rem;
  height: 1rem;
  border: 1px solid #FFF;
  background-color: #FFF;
}

.controls {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #666;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.output {
    color: #fff;
    font-size: 1.5rem;

}